*
!.gitignore
!README.md

!Basic/
!Basic/*
!Basic/**/*

!Thread/
!Thread/*
!Thread/**/*
Thread/build
Thread/nb
Thread/dist/

!Streams/
!Streams/*
!Streams/**/*
Streams/build
Streams/nb
Streams/dist/

!XMLJavaPractice/
!XMLJavaPractice/*
!XMLJavaPractice/**/*

!WebToolkittExample/
!WebToolkittExample/*
!WebToolkittExample/**/*